<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if request.method != 'POST' %}
    <form action="update" method="POST" style="margin-left: 500px;margin-top: 100px;">
        {% csrf_token %}

        <h1>Id</h1>
        <input type="number" name="id"><br><br><br>
        <input type="submit" value="Submit">

    </form>

    {% endif %} {% if request.method == 'POST' %}
    <form action="updated" autocomplete="on" method="post" style="margin-top: 200px;margin-left: 500px;border: solid black 2px;width: 300px;height: 230px;padding-left: 50px;padding-top: 20px;">
        {% csrf_token %} Id: <input type="number" name="id" value="{{obj.id}}"><br><br> Name: <input type="text" name="name" value="{{obj.name}}"><br><br> Age: <input type="number" name="age" value="{{obj.age}}"><br><br> Salary: <input type="number" name="salary"
            value="{{obj.salary}}"><br><br> City: <input type="text" name="city" value="{{obj.city}}"><br><br>
        <input type="submit" name="button">


    </form>

    {% endif %}
</body>

</html>